
html,body{
    height: 100%;
}

body{
    display: block;
    background: url("../images/city-background-1500.jpg") no-repeat;
    color: white;
    position: relative;
    background-size: cover;
    
}

/* Header */
#header{
    
}

#info-wrapper{
   margin: 30% auto;
    width: 100%;
    height:100%;
        
}
#info-wrapper-overlay{
  background-color: rgba(44,62,80 , 0.7 );
	background-image: url('images/pattern.png');
	background-position: center;
	background-repeat: repeat;
    border-radius: 25px;    
    padding-bottom:20px;
}
/* Logo Text */
#logo-text, #logo-subtext{
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    
}
    #logo-text{
    font-size: 48px;
    line-height: 48px;
}

/* Coming Soon */
#coming-soon-wrapper{
    text-align:center;
    font-family: 'Inknut Antiqua', serif;
}
#coming-soon-text{
    font-size:32px;
    border-bottom-color: azure;
    border-bottom-width: 1px;
    border-bottom: solid;
}
/* Time Element Styles */
#timer-wrapper{
    text-align:center;
}
.time-element{
    display: inline-block;
    border-width: 10px;
    border-color: azure;
    border: solid;
    border-radius: 50%;
    width: 150px;
    height: 120px;
    position: relative;
    text-align: center;
    padding-top: 30px;
    margin-right:15px;
    margin-top: 15px;
    background-color: rgba(128,128,128,.3);
    font-size: 25px;
    color: white;
}

.time-element span{
     font-size: 54px;
    font-weight: bold;
    text-align: center;
}

/* Media Queries */

@media screen and (max-width : 457px ){
    #logo-subtext{
       font-size: 15px;
    }
    
    #instructor .num span {
        font-size: 16px;
    }
}